.school-subject-container {
    padding: 20px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.subject-list {
    list-style: none;
    padding: 0;
}

.subject-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.subject-item-container {
    flex: 1;

}

.add-teacher-container {}

.add-teacher-container button {
    border: 0px solid;
    border-radius: 4px;
    padding: 8px;
    margin-top: 8px;
    background-color: #0166ff;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subject-info h4 {
    margin: 0;
}

.subject-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}

.subject-actions button {
    margin: 0px 4px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
}

.save-button {
    background-color: #4caf50;
    color: #fff;
}

.cancel-button {
    background-color: #f44336;
    color: #fff;
}

.add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #0166ff;
    color: #fff;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.school-subject-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    /* width: 300px; */
    max-width: 90%;
}

.modal-content input {
    width: 100%;
    padding: 6px;
    margin: 4px 0px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    font-size: 14px;
}

.workloads-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px 0;
}

.load-hour-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.load-hour-input label {
    min-width: 200px;
    font-weight: 500;
    color: #333;
}

.load-hour-input input {
    width: 100px;
    text-align: center;
}

.load-hour-input span {
    color: #666;
    font-size: 14px;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.error-message {
    text-align: center;
}

.subject-teachers {
    margin: 8px;
}

.remove-teacher-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.remove-teacher-container button {
    background-color: transparent;
    border: 0px;
}

.remove-icon {
    fill: #666
}

.remove-icon:hover {
    fill: #f44336;
    font-size: 16px;
}

.workload-info {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
    font-weight: 500;
}

.subject-info h4 {
    margin-bottom: 5px;
}