.team-container {
    padding: 10px
}

.team-list {
    margin-top: 12px;
}

.list-item {
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-item:hover {
    background-color: rgba(1, 102, 255, 0.3);
}