.school-container {
    height: 100vh;
    display: flex;
    /* Usado para centralizar o conteúdo, se necessário */
    flex-direction: column;
    /* Direção do conteúdo, pode ajustar conforme necessário */
    align-items: center;
    /* Alinhamento horizontal do conteúdo */
    justify-content: center;
    /* Alinhamento vertical do conteúdo */
    background-color: white;
    /* Cor de fundo (pode ajustar) */
    overflow: hidden;
    /* Esconde qualquer excesso de conteúdo que ultrapasse a tela */
    position: relative;
    /* Mantém o contexto de posição para elementos filhos, como o botão fixo */
    padding: 20px;
    /* Ajuste de padding conforme necessário */
    box-sizing: border-box;
}

.circular-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0166ff;
    /* Cor de fundo azul */
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    position: fixed;
    /* Para fixar no canto inferior direito */
    bottom: 20px;
    right: 20px;
}

.circular-button:hover {
    background-color: #0056b3;
    /* Cor de fundo ao passar o mouse */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.circular-button:active {
    background-color: #004494;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.icon {
    fill: white;
    font-size: 22px;
}

.school-list {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 16px;
}

/* Estilo de cada cartão de escola */
.school-card {
    position: relative;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.school-card:hover {
    transform: scale(1.02);
}

/* Estilo do texto */
.school-card h3 {
    margin: 0 0 10px;
    font-size: 18px;
}

.school-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.school-data {
    flex: 1;
}

.school-buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 8px;
}

.check-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #4CAF50;
    /* Cor do ícone de check */
}

.check-button:hover {
    color: #388E3C;
    /* Cor quando o mouse estiver sobre o botão */
}

.edit-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fdcc16;
    /* Cor do ícone de edit */
}

.edit-button:hover {
    color: #fbd449;
    /* Cor quando o mouse estiver sobre o botão */
}

.search-bar-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-bottom: 16px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: box-shadow 0.3s ease;
    padding-right: 36px; /* Espaço para o botão de limpeza */
}

.search-bar:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.clear-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
}

.clear-search:hover {
    color: #000;
}

.school-title {
    position: absolute;
    top: 12px;
    
}