.gradebook-form label {
    margin-top: 8px;
    margin-bottom: 2px;
}

.gradebook-form input {
    margin-top: 0px;
    width: 100%;
}

.gradebook-form select {
    margin-top: 0px;
    width: 100%;
    padding: 6px;
}

.gradebook-save-button {
    border: 0px;
    border-radius: 4px;
    width: 100%;
    background-color: #007bff;    
    color: #fff;
    font-weight: bold;
    padding: 6px;
    cursor: pointer;
}

.gradebook-save-button:hover {
    background-color: #0166ff;
}

.error-container {
    margin-top: 14px;
}

.gradebook-container {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 8px;
  }

  .gradebook-search-container {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .gradebook-search-container div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
  }

  .gradebook-search-container input {
    border: none;
    flex: 1;
    margin-right: 4px;
    font-size: 14px;
    outline: none;
  }
  
  .gradebook-header, .gradebook-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Três colunas de largura igual */
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .gradebook-header {
    font-weight: bold;
    background-color: #f5f5f5;
  }
  
  .gradebook-list-item p {
    margin: 0;
    padding: 5px;
    cursor: pointer;
  }
  
  /* Estilos opcionais para alinhamento e espaçamento */
  .gradebook-list-item:hover {
    background-color: rgba(1, 102, 255, 0.2);
  }
  