.gradebook-form label {
  margin-top: 8px;
  margin-bottom: 2px;
}

.gradebook-form input {
  margin-top: 0px;
  width: 100%;
}

.gradebook-form select {
  margin-top: 0px;
  width: 100%;
  padding: 6px;
}

.gradebook-save-button {
  border: 0px;
  border-radius: 4px;
  width: 100%;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  padding: 6px;
  cursor: pointer;
}

.gradebook-save-button:hover {
  background-color: #0166ff;
}

.error-container {
  margin-top: 14px;
}

.gradebook-container {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 8px;
}

.gradebook-search-container {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.gradebook-search-container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.gradebook-search-container input {
  border: none;
  flex: 1;
  margin-right: 4px;
  font-size: 14px;
  outline: none;
}

.gradebook-header,
.gradebook-list-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* Três colunas de largura igual */
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.gradebook-header {
  font-weight: bold;
  background-color: #f5f5f5;
}

.gradebook-list-item p {
  margin: 0;
  padding: 5px;
  cursor: pointer;
}

/* Estilos opcionais para alinhamento e espaçamento */
.gradebook-list-item:hover {
  background-color: rgba(1, 102, 255, 0.2);
}

.gradebook-section {
  margin: 8px 0px;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.subject-header {
  position: relative;
  width: 100%;
  /* Largura da imagem */
  height: 200px;
  /* Altura da imagem */
  overflow: hidden;
  /* Para garantir que nada "vaze" fora do container */
  background-color: green;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.subject-image-container img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
}

.subject-name {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 8px;

  display: flex;
  flex-direction: column;

  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;

  background-color: rgba(0, 0, 0, 0.6);
}

.subject-info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.skill-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.skill-container textarea {
  margin: 4px 0px;
  min-height: 100px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px;
}

.term-form {
  display: flex;
  flex-direction: column;

}

.term-form select {
  padding: 8px;
  margin-bottom: 4px;
}

.term-bottom-button {
  margin: 4px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lesson-container {
  margin: 4px;
  padding: 4px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  /* Definição completa da borda */
}

.drop-icon {
  font-size: 26px;
  fill: #333;
  cursor: pointer;
}

.drop-icon:hover {
  fill: #0166ff;
}

.add-lesson-button {
  background-color: transparent;
  border: none;
  fill: #0166ff;
  color: #0166ff;
  font-size: 20px;
  cursor: pointer;
}

.single-lesson-container {
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.single-lesson-container.even {
  background-color: rgba(1, 102, 255, 0.1);
}

.single-lesson-container.odd {
  background-color: rgba(1, 102, 255, 0.2);
}

.lesson-actions button {
  border: none;
  padding: 8px;
  border-radius: 4px;
  color: #fff;
  color: #FFF;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.lesson-actions> :first-child {
  background-color: #777;
  margin-right: 4px;
}

.lesson-actions> :nth-child(2) {
  background-color: #d200d2;
}

.bottom-attendance-container {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.attendance-form p {
  margin-bottom: 12px;
}

.attendance-student {
  align-items: center;
  padding: 4px;
}

.attendance-student.even {
  background-color: rgba(1, 102, 255, 0.1);
}

.attendance-student.odd {
  background-color: rgba(1, 102, 255, 0.2);
}

.absent-button {
  border: none;
  padding: 4px 6px;
  border-radius: 4px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  background-color: #e41313;
}

.presence-button {
  border: none;
  padding: 4px 6px;
  border-radius: 4px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  background-color: #18A205;
}

.student-attendance-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.student-grades-modal {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  max-width: 70%;
  max-height: 80%;
  overflow-y: auto;
}

.evaluations-list {
  max-width: 100%;
  /* Defina a largura máxima do contêiner */
  overflow-x: auto;
  /* Habilita a rolagem horizontal */
  margin: 0 auto;
  /* Centraliza a div, se necessário */
  border-radius: 8px;
  /* Arredonda as bordas do contêiner */
}

/* Estilos para a tabela */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ddd;
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #0166ff;
  color: white;
}

thead th {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

tbody td {
  padding: 12px 15px;
}

/* Estilo dos cantos arredondados */
table th:first-child,
table td:first-child {
  border-radius: 8px 0 0 8px;
}

table th:last-child,
table td:last-child {
  border-radius: 0 8px 8px 0;
}

table input {
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.evaluations-button {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.evaluation-button-disable {
  background-color: rgba(154, 155, 156, 0.925);
  padding: 8px;
  border-radius: 4px;
  border: 0px;
  color: #FFF;
  font-weight: bold;
  cursor: not-allowed;
}

.edit-term-button {
  margin-left: 4px;
  fill: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.edit-term-button :hover {
  fill: #0166ff;
}

.registration-container {
  overflow-x: auto;
  overflow-y: auto;
}

.registro-geral {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.registro-geral thead tr {
  background-color: #0166ff;
}

.registro-geral th,
.registro-geral td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.registro-geral thead {
  background-color: #f2f2f2;
  font-weight: bold;
}

.linha-par {
  background-color: #ffffff;
}

.linha-impar {
  background-color: #f9f9f9;
}

.text-center {
  text-align: center;
}